<% if post.comments.count > 0 %>
  <% post.recent_comment.each do |comment| %>
    <p class='comment'><%= comment.user.Name %> : <%= comment.Text%></p>
    <% if can? :destroy, comment %>
      <%= button_to 'Delete', post_comment_path(comment.user, comment.post, comment), method: :delete, class: "delet-btn" %> 
    <% end %>
  <% end %>
<% else %>
  <p class='comment'>There are no comments <em>yet!</em></p>
<% end %>
