<div class='user-post'>
 <h4 class='post-title'><%= link_to(post.Title, user_post_path(@user, post), class: "user-name") %>  </h4>
  <p class='post-text'>
    <%= post.Text %>.
  </p>
  <p class='statics'>Comments: <span><%= post.comments.count %></span>, Likes: <span><%= post.likes.count %></span></p>
</div>
